<div class="blur-effect"></div>
<nav id="nav">
  <header class="nav-container">
    <div class="nav-logo-container">
      <a id="nav-logo" href="/">
        <p class="bachir">BACHIR</p>
        <p class="project">EL-BACHIR PROJECT</p>
      </a>
    </div>

    <div class="menu-container">
      <ul class="menu">
        <li value="gallery" class="menu-selection <%= currentPage === 'gallery' ? 'active' : '' %>">
          <a class="to-source" data-target="gallery" href="/gallery">Gallery</a>
        </li>
        <li value="about" class="menu-selection <%= currentPage === 'about' ? 'active' : '' %>">
          <a class="to-source" data-target="about" href="/about">About</a>
        </li>
        <li value="exhibitions" class="menu-selectio <%= currentPage === 'exhibitions' ? 'active' : '' %>">
          <a class="to-source" data-target="exhibitions" href="/exhibitions">Exhibitions</a>
        </li>
        <li value="contact" class="menu-selection <%= currentPage === 'contact' ? 'active' : '' %>">
          <a class="to-source contact" data-target="contact" href="/contact">Contact</a>
        </li>
        <li value="store" class="menu-selection <%= currentPage === 'store' ? 'active' : '' %>">
          <a class="to-source store" data-target="store" href="/store">Store</a>
        </li>
      </ul>
    </div>
  </header>

  <section id="gallery" class="nav-section">
    <div class="selection-container">
      <ul class="painting-list">
        <li class="gallery-selection">
            <a class="nav-menu-link-header" href="gallery/new-collection">Nouvelles collection</a>
            <a class="nav-menu-link painting-link" href="/view-painting">Les dernières louas du maître</a>
            <a class="nav-menu-link painting-link" href="/view-painting">Les visiteurs</a>
            <a class="nav-menu-link painting-link" href="/view-painting">Perdure</a>
        </li>

        <li class="gallery-selection">
          <a class="nav-menu-link-header" href="gallery/family">Famille</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Lien générationnel</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Photo de famille</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Le petit Sidi</a>
        </li>

        <li class="gallery-selection">
          <a class="nav-menu-link-header" href="gallery/special-edition">Hors série</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Samba Alar</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Jamonoy Nuit Blanche</a>
        </li>

        <li class="gallery-selection">
          <a class="nav-menu-link-header" href="gallery/mor-talla">Mor talla</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Mor Talla et les bouts de bois</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Le tape à l'œil</a>
          <a class="nav-menu-link painting-link" href="/view-painting">La loi du plus fort</a>
          <a class="nav-menu-link painting-link" href="/view-painting">For bi le ramassage</a>
        </li>

        <li class="gallery-selection">
          <a class="nav-menu-link-header" href="gallery/black-collection">Noire</a>
          <a class="nav-menu-link painting-link" href="/view-painting">Le fauteuil</a>
        </li>
        
      </ul>
    </div>
  </section>

  <section id="about" class="nav-section">
    <div class="selection-container">
      <ul>
        <li class="presentation about-selection">
          <a class="nav-menu-link" href="/about#presentation">Présentation</a>
        </li>
        <li class="vision about-selection">
          <a class="nav-menu-link" href="/about#vision">La vision</a>
        </li>
        <li class="realisations about-selection">
          <a class="nav-menu-link" href="/about#achievements">Réalisations</a>
        </li>
      </ul>
    </div>
  </section>

  <section id="exhibitions" class="nav-section">
    <div class="selection-container">
      <ul>
        <li class="past exhibitions-selection">
          <a class="nav-menu-link" href="/exhibitions#past-exhibitions">Précédentes expositions</a>
        </li>
        <li class="upcoming exhibitions-selection">
          <a class="nav-menu-link" href="/exhibitions#new-exhibitions">Nouvelles expositions</a>
        </li>
      </ul>
    </div>
  </section>
</nav>
